form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form h4{
    text-align: center;
    font-family:  'Julius Sans One', sans-serif;
}
form button{
    background-color:#31AF68;
    border: none;
    padding: 15px;
    color: white;
    font-weight: 600;
    width: max-content;
    height: max-content;
    border-radius: 5px;
}