.form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}
form button{
    background-color:#31AF68;
    border: none;
    padding: 15px;
    color: white;
    font-weight: 600;
    width: max-content;
    height: max-content;
    border-radius: 15px;
}